.categories {
    font-size: 27px;
    width: max-content;
    margin: 0 auto;
    font-family: "Almarai", sans-serif;
    color: #303030;
    font-weight: 400;
}
.sliderWrapper {
    margin: 2rem auto;
}
.discover {
    text-transform: none;
    padding: 5px 2rem;
    font-family: "Almarai", sans-serif;
    margin: 2rem auto;
    font-size: 25px;
}
