.AppBar {
    background: #f6fcfe !important;
    box-shadow: none !important;
    color: #4d4d4f;
    box-shadow: none;
    height: 80px;
    z-index: 6565;
    
}
.Toolbar {
    height: 80px;
    width: 100%;
    background: #f6fcfe;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 35px 0 35px !important;
}
.grow {
    flex-grow: 1;
}
.logoWrapper {
    width: 140px;
    cursor: pointer;
}
.logo {
    margin-top: 5px;
    width: 140px;
}
.AppBarSpace {
    height: 80px;
}
.link {
    color: #4d4d4f;
    text-decoration-line: none;
    font-family: "Ithra", sans-serif;
}
.language {
    color: #4d4d4f;
    text-decoration-line: none;
    font-family: "Ithra", sans-serif !important;
}
.link2 {
    color: #4d4d4f;
    text-decoration-line: none;
    font-family: "Ithra", sans-serif;
}
.btnVide {
    opacity: 0;
    min-width: 4vw;
}
.btn {
    text-transform: none;
    margin: 5px;
    cursor: pointer;
    &:hover {
        background: none;
    }
    &:active {
        background: none;
    }
}
.btn2 {
    text-transform: none;
    margin: 5px;
    width: 130%;
    cursor: pointer;

    &:hover {
        background: none;
    }
    &:active {
        background: none;
    }
}
.menu {
    position: fixed;
    height: 100vh;
    width: 50vw;
    background: #fff;
    top: 0;
    overflow: hidden;
    z-index: -1;
    transition: all 700ms cubic-bezier(0.16, 1, 0.3, 1);
    flex-direction: column;
    align-items: flex-start;
    padding: 80px 20px 0;
    display: none !important;
    left: -200%;

    @media (max-width: 900px) {
        display: flex !important;
    }
}
.menuBG {
    transition: all 700ms cubic-bezier(0.16, 1, 0.3, 1);
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: #fff;
    opacity: 0.5;
    top: 0;
    left: 200%;
    z-index: -10;
    display: none !important;
    @media (max-width: 900px) {
        display: block !important;
    }
}
.menuList {
    width: 100%;

    @media (max-width: 900px) {
    }
}
.menuBtn {
    font-size: 35px;
    cursor: pointer;
    display: none !important;
    @media (max-width: 900px) {
        display: block !important;
    }
}
.menu1 {
    display: block !important;
    @media (max-width: 900px) {
        display: none !important;
    }
}

// rtl
body[dir="rtl"] {
    .language {
        font-family: "ExpletusSans", sans-serif !important;
    }
    .menuBG {
        right: 200%;
    }
    .menu {
        right: -200%;
    }
    .link {
        color: #4d4d4f;
        text-decoration-line: none;
        font-family: "ExpletusSans", sans-serif;
    }
    .link2 {
        color: #4d4d4f;
        text-decoration-line: none;
        font-weight: 600;
    }
}
