 
.footer {
    height: 450px;
    max-height: 450px;
    margin: 10px auto;
    display: flex;
    transition: all 400ms;
    flex-direction: row;
    padding: 7rem 5rem;
    @media (max-width: 900px) {
        flex-direction: column;        
        justify-content: flex-start;
        padding: 3rem 2rem;
    }
}
.TreeView {
    width: 35%;
    background-color: transparent !important;
    @media (max-width: 900px) {
        width: 0;
    }
}
.Treeitem {
    margin-top: 5px;
    color: #303030;
    background-color: transparent !important;
    white-space: nowrap;
    &:hover {
        color: #0fb3f0;
        background-color: transparent !important;
        opacity: 1;
    }
}
.TreeitemForn {
    font-family: Almarai, sans-serif ;
    white-space: nowrap;
}
.label {
    font-size: 22px;
    color: #303030;
    border-bottom: 3px solid #0fb3f0;
    white-space: nowrap;
    width: 25px;
    font-family: Almarai, sans-serif;
    @media (max-width: 900px) {
        font-size: 25px;
    }
}
.socialMediaWrapper {
    display: flex;
    width: 40%;
    margin: 120px auto 20px auto;
    align-items: center;
    justify-content: center;
    @media (max-width: 900px) {
        width: 100%;
        margin: 0px auto 20px auto;
    }
}
.socialMediaIconWrapper {
    margin: 0 1rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.socialMediaIcon {
    font-size: clamp(1.8rem, calc(1.8rem + 3vw), 3rem);
    fill: rgb(200, 200, 200);
}
.bottomBarr {
    display: flex;
    width: 100%;
    margin: 0px auto;
    align-items: center;
    padding: 15px 30px;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 900px) {
        flex-direction: column;
    }
}
.TreeViewMobile {
    display: none;
    @media (max-width: 900px) {
        display: block;
    }
}
.TreeViewDesk {
    display: flex;
    width: 100%;
    position: relative;
    right: 43%;
    transform: translateX(50%);
    @media (max-width: 900px) {
        display: none;
    }
}
.creditCardsWraper {
    display: flex;
    margin: 10px auto;
    align-items: center;
    justify-content: flex-start;
}
.creditCardsIconWraper {
    margin: 0 1rem;
}
.creditCardsIcon {
    width: clamp(25px, calc(25px + 1vw), 40px);
}
.forlansoLogo {
    white-space: nowrap;
}
.grow {
    flex-grow: 1;
}
.iconTreeDes {
    transform: rotateZ(-90deg);
}
.iconTreeMob {
    transform: rotateZ(0);
}
// rtl
body[dir="rtl"] {
    .iconTreeDes {
        transform: rotateZ(90deg);
    }
    .iconTreeMob {
        transform: rotateZ(180deg);
     }
     .TreeViewDesk{
       right: 60%,
     }
}
