.user_name {
    font-size: 15px;
    color: #4d4d4f;
    font-family: "Almarai", sans-serif;
    line-height: 30px;
    cursor: pointer;
    text-align: left;
    overflow: Hidden;
    font-weight: 400;
    width: 100%;
    white-space: nowrap;
}
.user_name_job {
    font-size: 10px;
    color: #4d4d4f;
    font-family: "Almarai", sans-serif;
    text-align: left;
    overflow: Hidden;
    margin-top: -7px;
    line-height: 15px;
    min-height: 20px;
    max-height: 20px;
    height: 20px;
}
.CardContent {
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.ListItem {
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.jobName {
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    overflow: hidden;
    font-size: 16px;
    font-family: "Cairo", sans-serif;
}
.soldbar {
    font-size: 16px;
    font-family: "Cairo", sans-serif;
    color: #00aeef;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.rating {
    width: 40%;
    min-width: max-content;
    display: flex;
    justify-content: space-between;
}
.ViewBtn {
    background: #65c042;
    color: #fff;
    border-radius: 10px;
    width: 90%;
    margin: -10px auto 0 auto;
    font-family: "Cairo", sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    &:hover {
        background: #92d878;
    }
    @media (max-width: 1280px) {
        width: 80%;
    }
}
.cardWrapper {
    padding: 20px 10px;
    margin: 0px 0px;
    background: transparent;
}
.CardBody {
    box-shadow: 0 0 10px rgba(150, 150, 150, 0.5);
    border-radius: 10px;
}
.CardBodyMedia {
    height: 180px;
    @media (max-width: 1280px) {
        height: 150px;
    }
    @media (max-width: 600px) {
        height: 200px;
    }
    @media (max-width: 600px) {
        height: 200px;
    }
}
.sold {
    color: #b8b8b9;
    margin: 0 20px;
}
.price {
    color: #717172;
}
.ViewBtnFont {
    font-family: "ExpletusSans", sans-serif;
    font-size: 16px;
    text-transform: none;
}

// rtl
body[dir="rtl"] {
    .user_name_job {
        text-align: right;
    }
    .user_name {
        text-align: right;
    }
    .ViewBtnFont {
        font-family: "Ithra", sans-serif !important;
        font-weight: 600;
    }
}
