@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

@font-face {
  font-family: "Ithra";
  src: local("Ithra"), url(./fonts/Ithra.woff) format("woff");
}
@font-face {
  font-family: "ExpletusSans";
  src: local("ExpletusSans"), url(./fonts/ExpletusSans.woff) format("woff");
}
@font-face {
  font-family: "IthraBold";
  src: local("IthraBold"), url(./fonts/IthraBold.woff) format("woff");
}
*,
:after,
:before {
  box-sizing: border-box;
  font-size: 16px;
}
html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  background: #fff;
}
body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: "ExpletusSans", sans-serif;
}

/* **
* swipper
*/
.swiper-button-next,
.swiper-button-prev {
  width: 3vw !important;
  height: 3vw !important;
  border-radius: 50%;
  border: none;
  background: rgb(255, 255, 255);
  text-align: center;
  box-shadow: 2px 1px 25px -3px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 2px 1px 25px -3px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 2px 1px 25px -3px rgba(0, 0, 0, 0.57);
  @media (max-width: 900px) {
    display: none !important;
  }
}
@media (min-width: 1270px) {
  .swiper-button-prev {
    transform: translateX(0vw);
  }
  .swiper-button-next {
    transform: translateX(2vw);
  }
}
.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  font-size: 1em;
  color: #000;
}

/* **
* scrollbarr
*/
::-webkit-scrollbar {
  width: 12px;
  height: 0px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #fcfcfc;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #d6edfc;
  border-radius: 2px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b6d0e2;
}
::selection {
  color: rgba(0, 0, 0, 0.712);
  background: #014b5898;
}

/* **
 * mui
 */
.Mui-selected div {
  background-color: rgba(7, 26, 197, 0) !important;
}
.Mui-expanded div {
  background-color: rgba(7, 26, 197, 0) !important;
}
.MuiToolbar-regular {
  min-height: 56px !important;
}
.MuiToolbar-gutters {
  padding-left: 14px !important;
  padding-right: 14px !important;
}

body {
  * {
    font-family: "ExpletusSans", sans-serif !important;
  }
}
body[dir="rtl"] {
  * {
    font-family: "Ithra", sans-serif !important;
  }
}
input:focus::placeholder {
  color: transparent;
}
